.about-main {
    margin-top: 100px;
}

.about-container {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.about {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    padding-bottom: 30px;

    .intro {
        display: flex;

        @media (max-width: 650px) {
            flex-direction: column;
        }

        img {
            border-radius: 10px;
            margin: 20px;
        }
    }
}

.resume-summary {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
}