h1{
    font-family: getFont(largeheader), serif;
    font-size: 3em;
    margin: 20px;
    text-shadow: 2px 2px getColor(dark-violet);
    text-align: center;
}

h2 {
    font-family: getFont(mediumheader);
}



h3 {
    font-family: getFont(mediumheader), serif;
    text-decoration: underline;
    margin: 20px 15px;  
}

p {
    margin: 20px 15px;
}

p.bold-p {
    font-weight: bold;
}

p, a {
    font-family: getFont(paragraph);
}

a {
    font-weight: 600;
}